NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_PROGRAM_ID=ReplaceWithDeployedProgramId
NEXT_PUBLIC_HOUSE_PDA=ReplaceWithHousePda
NEXT_PUBLIC_VAULT_PDA=ReplaceWithVaultPda
NEXT_PUBLIC_ORAO_VRF_PROGRAM_ID=VRFzZoJdheYJZV8hY6YzFoZT3zh7TBTtJUqvGjNFH6G
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/coin_flip?schema=public
ADMIN_SECRET_KEY_JSON=[1,2,3]
ADMIN_TREASURY_WALLET=ReplaceWithAdminPubkey
ANCHOR_WALLET=~/.config/solana/id.json
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
